<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
<div class="input-container">
  <ion-input label="First Name" [(ngModel)]="firstname" label-placements="floating" fill="outline" placeholder="Enter Text"></ion-input>
</div>
  <br>

<div class="input-container">
  <ion-input label="Middle Name" [(ngModel)]="middlename" label-placements="floating" fill="outline" placeholder="Enter Text"></ion-input>
</div>
  <br>

<div class="input-container">  
  <ion-input label="Last Name" [(ngModel)]="lastname" label-placements="floating" fill="outline" placeholder="Enter Text"></ion-input>
</div> 
  <br>

<div class="input-container">    
  <ion-input label="E-mail" [(ngModel)]="email" label-placements="floating" fill="outline" placeholder="Enter Text"></ion-input>
</div>   
  <br>

<div class="input-container">  
  <ion-input label="Username" [(ngModel)]="username" label-placements="floating" fill="outline" placeholder="Enter Text"></ion-input>
</div>   
  <br>

<div class="input-container"> 
  <ion-input label="Password" [(ngModel)]="password" label-placements="floating" fill="outline" placeholder="Enter Text"></ion-input>
</div>   
  <br>

<div class="input-container">   
  <ion-input label="Confirm Password" [(ngModel)]="confirmpassword" label-placements="floating" fill="outline" placeholder="Enter Text"></ion-input>
</div>  
  <br>
  
  <div class = "button-container" style = "text-align: center;">
    <ion-button (click) = "registration()" id = "open-toast">Register</ion-button>
  </div>
  </ion-content>